* {
  background-color: #ffb703;
  font-family: Georgia, serif;
}

/* header and footer container with flex element and responsive padding size */
.header,
.contact-me {
  display: flex;
  background-color: #023047;
  padding: 2em;
}

.header h1 {
  font-size: 4vw;
}

/* heading elements with background and text colors */
.header h1,
nav,
.footer-right h2,
.contact-me h2 {
  display: inline-block;
  background-color: #023047;
  color: white;
}

/* Nav links with flex element */
.header-right,
.footer-right {
  display: flex;
}

/* header and footer fex elements */
.header a,
.contact-me a {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #023047;
  padding: 1em;
  font-size: 2vw;
}

/* When mouse hovers change background color and text color */
.header a:hover,
.contact-me a:hover,
.text-block a:hover {
  background-color: gray;
  color: black;
}

h2 {
  font-size: 3vw;
  padding: 1em;
}

h3 {
  font-size: 2.5vw;
}

/* This is the container element */
.about-me {
  display: flex;
  flex-direction: row;
}

/* This makes the layout responsive and has the elements display in columns */
@media (max-width: 667px) {
  .about-me {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
}

/* This is the container element */
.work {
  display: flex;
  flex-direction: column;
}

/* This makes the layout responsive and has the elements display in columns  */
@media (max-width: 667px) {
  .work {
    flex-direction: column;
  }
}

/* This is the project cards */
.project-card {
  display: block;
}

/* This image is larger because it is the first project */
.project-1-image {
  display: inline-block;
  width: 50%;
  height: auto;
}

/* These are the projects after the first project that will be smaller sized */
.project-pictures {
  display: inline-block;
  width: 30%;
  height: auto;
}

/* This styles the project titles */
.text.block {
  display: block;
}
